<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="styles/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="logo-main" >
        <span> Zeus</span>
        <span>Studio</span>
    </div>
    <ul class="menu" >
        <li><a href="#home"> Trang chủ </a></li>
        <li><a href="#home"> Áo </a></li>
        <li><a href="#home"> Quần </a></li>
        <li class="dropdown">
        <a class="dropbtn"> Khác </a>
        <div class="dropdown-content">
            <a href="#"> Balo </a>
            <a href="#"> Giày </a>
            <a href="#"> Dây chuyền, lắc bạc </a>
        </div>
        </li>
        <li><a href="#home"> Giới thiệu </a></li>
        <li><a href="#home"> Liên hệ </a></li>
    </ul>

</body>
</html>